.cred {color: red}
.bd {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;

    align-items: center;
    gap: .5em;
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
}

.labelinput {
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 5px;
    background: transparent;
    border: 1px solid #280202;
    color: #f3f3f3;
    font-family: 'Microsoft yahei', system-ui;
}

.labelswitch {
    margin-top: 3px;
    color: #090909;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}

.labelbtn {
    margin-top: 3px;
    color: #090909;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}

.labelbtn:hover {
    border: 1px solid white;
}

.labelbtn:active {
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff;
}

.labelbtn:disabled {
    color: #837d7d;
}

.labeltext {
    color: #f3f3f3;
}

.tbg {
    background: linear-gradient(45deg, #15162a 0%, #621229 100%);
}

.inputarea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    text-align: left;
    border-radius: 1rem;
    overflow: visible;
    position: relative;
    z-index: 1;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.generatedimg {

}

.generatedimghistory {
    overflow-y: auto;
    height:100px;
    width: 300px;
}

.imghist_div {
    margin: 2px;
    text-align: right;
    display: inline-table;
    width: 140px;
    height: 140px;
    /*line-height: 140px*/
    vertical-align: middle;
    background-color: #c5c5c5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imghist_img {  /*outdated*/
    max-width: 240px;
    max-height: 240px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.imghist_close {
    margin-right: 8px;
    color: #999999;
    font-size: 36px;
    text-decoration:none;
}
